@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --base-color: rgb(255, 255, 255);
  --base-variant: rgb(255, 238, 238);
  --text-primary:rgb(107, 106, 106);
  --text-secundary: rgb(138, 137, 137);
  --primary-color:rgb(229, 85, 97);
  --secundary-color:rgb(50,80,100);
  --accent-color:rgb(90, 202, 208); 
  --background-1:#fce8e6;
  --background-2:#e6efff;
}
.darkmode{
  --base-color: rgb(20, 60, 66);
  --base-variant: rgb(33, 47, 88);
  --text-primary:rgb(194, 194, 194);
  --text-secundary: rgb(194, 194, 194);
  --primary-color:rgb(255, 241, 84);
  --secundary-color:rgb(222, 218, 148);
  --background-1:rgb(50,80,100);
  --background-2:rgb(23, 57, 79);
}

*{
margin: 0%;
padding: 0%;
}

html, body{
  background: radial-gradient(circle at top left, var(--background-1) 20%, transparent 80%),
  radial-gradient(circle at bottom right, var(--background-2) 20%, transparent 80%),
  var(--base-color); /* Color base de fondo */
  height: 100%;
  width: 100%;
}

h1,h2,h3,h4,h5,h6,p{
  font-family: Quicksand;
}
h1{
  font-size: 3em;
  font-weight: 1000;
}
h2{
  font-size: 2em;
  font-weight: 800;
  color: var(--text-primary);
}
h3{
  font-size: 1.5em;
  font-weight: 700;
}
h4{
  font-size: 1.2em;
  font-weight: 500;
  color: var(--text-primary);
}
p{
  font-size: 1em;
  font-weight: 500;
  color: var(--text-secundary);
}
img{
  height: 1em;
}

a{
  color: var(--text-color);
  font-family: Quicksand;
}

