---
import ContentLayout from '../layouts/ContentLayout.astro';
---
<ContentLayout>
  <div class="display">
    <div class="main-section">
      <h3>About me?</h3>
    </div>
    
  </div>
</ContentLayout>

<style>
  .main-section{

  }
</style>