---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout>
	<div class="display">
		<h1>Welcome to Jakxel Sites!</h1>
		<p>The wind rises, we must ry to Live</p>
		<div class="found-me">
			<p id="f">Found me on</p>
			<img src="src/assets/logotipo-de-github.png" alt="github.logo">
		</div>
		<div class="btns">
			<button id="btn1">Read Blog</button>
			<button id="btn2">Reflexion</button>
		</div>
	</div>
	
</BaseLayout>

		

<style>
	.display {
		margin: 0;
		padding: 0%;
		width: 100%;
		height: 100%;
		align-content: center; 
		display: flex;
		justify-content: center;
		flex-direction:column;
		align-items: center;

	}
	h1{
	background: radial-gradient(circle, var(--secundary-color) 0%, var(--primary-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	margin-bottom: 5px;
	}
	p{
		color:var(--text-color);
		font-size: 20px;
		font-weight: 500;
		margin-top: 0;
	}
	button{
		background-color: transparent;
		border: 1px solid var(--text-color);
		padding: 1em;
		color: var(--text-color);
		border-radius: 1em;
		margin-top: 15px;
	}
	.found-me{
		margin-top: 20px;
		display:flex;
		gap: 10px;
	}
	#f{
		font-size: 15px;
	}

	.btns{
		display: flex;
		gap: 10px;
		transition: 1s;
	}
	#btn1:hover,#btn2:hover{
		scale: 1.1;
		transition: 1s;
	}
	
	#btn1{
		background: radial-gradient(circle, var(--secundary-color) 0%, var(--primary-color) 100%);
		color: white;
		font-family: Quicksand;
		font-weight: 500;
		border: none;
		box-shadow: 1px 1px 10px rgba(3, 3, 3, 0.125);
	}

	#btn2{
		border: 1px solid rgba(200, 199, 199, 0.578);
		box-shadow: 1px 1px 10px rgba(3, 3, 3, 0.125);
	}
</style>
