---
import Theme from './Theme.astro'
---
<header>
  <div class="display">
    <div class="title-sct">
      <a id="title" href="/">Jakxel's Sites</a>
    </div>
    <div class="link-sct">
      <a class="main-link" href="/">Home</a>
      <a class="main-link" href="/about">About</a>
      <a class="main-link" href="/blog">Blog</a>
      <a class="main-link" href="/notes">Notes</a>
      <a class="main-link" id="docs" href="/docs">Docs</a>
    </div>
    <div class="menu-sct">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
      <Theme />
    </div>
  </div>
</header>

<style>

header {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  width: 1000px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.main-link {
  color: var(--primary-color);
}

.main-link:hover {
  text-decoration: underline;
}

.title-sct {
  display: flex;
  align-items: center;
  justify-content: start;
  width: auto;
  transition: 1s;
}

.title-sct:hover {
  scale: 1.1;
}

.link-sct {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 10px;
}

.menu-sct {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  width: auto;
}

#title {
  font-size: 30px;
  font-weight: 1000;
  background: radial-gradient(circle, var(--secundary-color) 0%, var(--primary-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#docs {
  border: 1px solid var(--text-secundary);
  border-radius: 5px;
  padding: 2px;
  color: var(--secundary-color);
}

#docs:hover {
  text-decoration: none;
  background-color: var(--secundary-color);
  color: white;
}

@media (max-width: 720px) {
  header {
  position: absolute;
  width: 100%;
  background: var(--base-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.257);
}
.display{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.title-sct{
  display: none;
}
.link-sct{
  width: auto;
}
.menu-sct {
  display: flex;
  width:min-content;
  align-items: center;
  justify-content: flex-end;
}
}

</style>