---
import Theme from './Theme.astro'
---
<header>
  <div class="display">
    <div class="title-sct">
      <a href="">Jakxel's Sites</a>
    </div>
    <div class="links-sct">
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Blog</a>
      <a href="">Docs</a>
    </div>
    <div class="menu-sct">
      <img src="lupa.png" alt="">
      <Theme />
    </div>
  </div>
</header>

<style>
  header{
    width: 100vw;
  }
  .display{
    display: flex;
    justify-content: space-around;
  }
</style>